*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(177, 172, 172, 0.5);
}

div{
    
    margin: 45px 230px;
    padding: 20px 20px;
    background-color: rgb(119, 119, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}

input{
    background-color: #bbb8b8;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
button{
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(197, 117, 61);
    border-radius: 5px;
}
button:hover{
    background-color: rgb(117, 57, 15);
}
p{
    font-size: 15px;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 2px 1px black;
}